{% set nav = [('index.html', 'Index'), ('services.html', 'Services'), ('mc.html', 'Minecraft Stuff')] %}

{% set past_services = [
	("http://facepunch.com/showthread.php?t=1256780", "Profan's Humble FTB Monster V1"),
	("http://facepunch.com/showthread.php?t=1280290", "Profan's Humble Construct"),
	("http://facepunch.com/showthread.php?t=848161", "The Specialists Facepunch Server!"),
	("http://facepunch.com/showthread.php?t=1157276", "Profan's Warband COOP Invasion Server!"),
	("http://facepunch.com/showthread.php?t=1105725", "Facepunch Sven Coop![HL1 Mod]"),
	("http://facepunch.com/showthread.php?t=1049133", "Profan's Facepunch Battlefield 2 Server!"),
	("http://facepunch.com/showthread.php?t=1012849", "Facepunch M&B Warband COOP INVASION Server!"),
	("http://facepunch.com/showthread.php?t=917063", "Facepunch Arma2 Server! | ACE2"),
	("http://facepunch.com/showthread.php?t=905113", "Celestial Impact!"),
	("http://facepunch.com/showthread.php?t=923780", "The Official Facepunch Counterstrike: Source GunGame Server"),
	("http://facepunch.com/showthread.php?t=875067", "Facepunch Minigame! Counter Strike Source"),
	("http://facepunch.com/showthread.php?t=894266", "Facepunch WW1 Source!"),
	("http://facepunch.com/showthread.php?t=885624", "Facepunch Obsidian Conflict Server! | HL2 Mod"),
	("http://facepunch.com/showthread.php?t=875526", "Facepunch Pirate Ship Wars! | Garrysmod"),
	("http://facepunch.com/showthread.php?t=832062", "The Middle Ages Roleplay! - Serious Version"),
	("http://facepunch.com/showthread.php?t=869714", "Facepunch Jailbreak! Counter Strike Source."),
	("http://facepunch.com/showthread.php?t=871635", "Facepunch Bot Survival! Counter Strike Source."),
	("http://facepunch.com/showthread.php?t=838989", "Facepunch Fistful of Frags! Creamy center inside."),
	("http://facepunch.com/showthread.php?t=811041", "Facepunch Jailbreak is Back! Again!"),
	("http://facepunch.com/showthread.php?t=822306", "Facepunch Pirates, Vikings and Knights Two!"),
	("http://facepunch.com/showthread.php?t=799456", "Facepunch Obsidian Conflict!"),
	("http://facepunch.com/showthread.php?t=788211", "Lets Play: HL2 Jaykin Bacon Source! HL1 Mod"),
	("http://facepunch.com/showthread.php?t=791328", "Facepunch CS:S Zombie Escape!")]
%}
