{% set title = "Profan's Dwelling." %}
{% set current_page = 'index.html' %}
{% extends 'layout.html' %}
{% block container %}
<span class="title">
	Robin Hübner - profan
</span>
<p class="personal-desc">Currently a student at Stockholm University, studying Computer Science, interested in Open Source, game development, Artificial Intelligence and low level programming.</p>
<ul class="item-list">
	<li><a href="mailto:robinhubner@gmail.com">robinhubner@gmail.com</a></li>
	<li><a href="https://github.com/profan">GitHub</a></li>
	<li><a href="https://twitter.com/profanwolf">Twitter</a></li>
</ul>
{% endblock %}
