{% import '_defaults.html' as def %}
{% set title = "Profan's Dwelling." %}
{% set current_page = 'index.html' %}
{% extends 'layout.html' %}
{% block container %}
<span class="title">
	Robin Hübner - profan
</span>
<p class="personal-desc">Currently a BS Computer Science student at Stockholm University, interested in natural language processing, game development and artificial intelligence.</p>
<ul class="item-list links">
	{% for link, title, sprite in def.links %}
		<li><a href="{{link}}"><i class="fa {{sprite}} fa-2x"></i><span>{{title or link}}</span></a></li>
	{% endfor %}
</ul>
{% endblock %}
