{% import '_defaults.html' as def %}
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{{ title or "Profan's Dwelling" }}</title>
		<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	</head>

	{% block body %}
	<body>

		<div class="container">	
		
		{% block container %}
		{% endblock %}		

		<div class="divider"></div>
		<ul class="nav">
			{% for url, title in def.nav %}
				{% if current_page != url %}
					<li><a href="{{url}}">{{title}}</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		</div>
	</body>
	{% endblock %}

</html>


{% block tail %}
{% endblock %}
