{% set title = "Profan's Dwelling - Minecraft things" %}
{% set current_page = 'mc.html' %}
{% extends 'layout.html' %}

{% block container %}
<span class="title">Profan's Minecraft Stuff</span>
<ul class="item-list">

	<p>Things related to 'The Humble Abode' minecraft server.</p><br><br>

	<h3>Listing of past Minecraft server worlds:</h3>
	<li><a href="http://odin.prfn.se/worlds.html">http://odin.prfn.se/worlds.html</a></li>
	<h3>Old Server Wiki</h3>
	<li><a href="http://wiki.prfn.se/index.php?title=Main_Page">http://wiki.prfn.se/index.php?title=Main_Page</a></li>
</ul>
{% endblock %}
