{% import '_defaults.html' as def %}

{% set title = "Profan's Dwelling - Past Servers" %}
{% set current_page = 'pastservices.html' %}
{% extends 'layout.html' %}

{% block container %}

<table>
	<span class="title">Profan's Past Servers</span>
	<p class="desc">Listing of past hosted servers, in chronological order as for when they were active.</p>
	<tr>
		<th>Server Name</th>
		<th>Thread Link</th>
	</tr>
	{% for url, title in def.past_services %}
	<tr>
		<td>
			{{title}}
		</td>
		<td>
			<a href="{{url}}">{{url}}</a>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
